# ----
# Site

title: Drogarias Velanes
url: "drogariasvelanes.com.br"
baseurl: 
google_analytics_key:
newsletter_action:
disqus_shortname:
rss                       : true # generate RSS feed and show it's icon in header
instagram                 : drogariasvelanes
facebook                  : DrogariaVelanes

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /siteicon.png
description: Drogarias Velanes
author:
  name:
  email:
  twitter: # twitter username without the @ symbol
social:
  name: #
  links: 

# -----
# Build

timezone: America/Bahia

paginate: 10
paginate_path: "/:num/"
permalink: pretty

#defaults:
#  -
#    scope:
#      path: ""
#      type: "posts"
#    values:
#      layout: "post"
#      push_sidebar_down: true
#      print_stylesheet: true
#      comments: true
#      _options:
#        content:
#          width: 1560
#          height: 2000
#        featured_image:
#          width: 1560
#          height: 2000
#  -
#    scope:
#      path: ""
#    values:
#      layout: "default"
#  -
#    scope:
#      path: "index.html"
#    values:
#      layout: "default"
#      push_sidebar_down: true

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-paginate

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE

# -----------
# CloudCannon

social_icons:
  - Facebook
  - Google Plus
  - Instagram
  - LinkedIn
  - Pinterest
  - Tumblr
  - Twitter
  - YouTube
  - RSS

_options:
  author_image:
    width: 400
    height: 400

# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings               : all
  endings                 : all
  comments                : ["<!-- ", " -->"]
  blanklines              : true
  profile                 : false
  ignore:
  envs                    : [local]