<section class="section-padding pat-bg">
        <div class="container">
            <div class="text-center mb-50">
                <!--<h2 class="section-title text-uppercase"></h2>-->
                <!-- Ofertas -->
                <div>
                    <img src="{{ site.url }}/assets/img/oferta-velanes.png" width="300px" alt="">
                </div>
            </div>


            <div class="portfolio-container text-center">

                <div class="portfolio col-3 mtb-50 gutter">
                    <!-- remove "gutter" class for no spacing -->

                    <!-- oferta -->
                    <div class="portfolio-item">
                        <div class="portfolio-wrapper">

                            <div class="thumb">
                                <div class="bg-overlay"></div>
                                <img src="{{ site.url }}/assets/img/ofertas/oferta1.png" alt="">

                                <div class="portfolio-intro">
                                    <div class="action-btn">
                                        <a href="#"> <i class="fa fa-link"></i> </a>
                                    </div>
                                    <h2><a href="#">Oferta Velanes #1</a></h2>
                                </div>
                            </div>
                            <!-- thumb -->

                        </div>
                        <!-- /.portfolio-wrapper -->
                    </div>
                    <!-- /.portfolio-item -->
                    <!-- oferta -->
                    <div class="portfolio-item">
                        <div class="portfolio-wrapper">

                            <div class="thumb">
                                <div class="bg-overlay"></div>
                                <img src="{{ site.url }}/assets/img/ofertas/oferta2.png" alt="">

                                <div class="portfolio-intro">
                                    <div class="action-btn">
                                        <a href="#"> <i class="fa fa-link"></i> </a>
                                    </div>
                                    <h2><a href="#">Oferta Velanes #2</a></h2>
                                </div>
                            </div>
                            <!-- thumb -->

                        </div>
                        <!-- /.portfolio-wrapper -->
                    </div>
                    <!-- /.portfolio-item -->
                    <!-- oferta -->
                    <div class="portfolio-item">
                        <div class="portfolio-wrapper">

                            <div class="thumb">
                                <div class="bg-overlay"></div>
                                <img src="{{ site.url }}/assets/img/ofertas/oferta2.png" alt="">

                                <div class="portfolio-intro">
                                    <div class="action-btn">
                                        <a href="#"> <i class="fa fa-link"></i> </a>
                                    </div>
                                    <h2><a href="#">Oferta Velanes #3</a></h2>
                                </div>
                            </div>
                            <!-- thumb -->

                        </div>
                        <!-- /.portfolio-wrapper -->
                    </div>
                    <!-- /.portfolio-item -->

                </div>
                <!-- /.portfolio -->

            </div>
            <!-- portfolio-container -->
        </div>
    </section>