
    <section class="section-padding">
        <div class="container">
            <div id="#service" class="text-center mb-50">
                <h2 class="section-title text-uppercase">Serviços</h2>
                <p class="section-sub">A Velanes está sempre a sua disposição, dando assistência a sua saúde com os melhores serviços e produtos. Venha conferir!</p>
            </div>


            <div class="portfolio-container text-center">

                <div class="portfolio col-3 mtb-50 gutter">
                    <!-- remove "gutter" class for no spacing -->

                    <!-- Serviço -->
                    <div class="portfolio-item">

                        <div class="portfolio-wrapper">
                            <div class="thumb">
                                <div class="bg-overlay"></div>

                                <div class="portfolio-slider">
                                    <ul class="slides">
                                        <li>
                                            <a href="{{ site.baseurl }}/assets/img/services/cart1-1.png" title="">
                                                <img src="{{ site.baseurl }}/assets/img/services/cart1.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="portfolio-intro">
                                    <div class="action-btn">
                                        <a href="#"> <i class="fa fa-plus"></i> </a>
                                    </div>
                                </div>

                            </div>
                            <!-- thumb -->

                        </div>
                        <!-- /.portfolio-wrapper -->
                    </div>
                    <!-- /.portfolio-item -->

                    <!-- Serviço -->
                    <div class="portfolio-item">

                        <div class="portfolio-wrapper">
                            <div class="thumb">
                                <div class="bg-overlay"></div>

                                <div class="portfolio-slider">
                                    <ul class="slides">
                                        <li>
                                            <a href="{{ site.baseurl }}/assets/img/services/cart2-1.png" title="">
                                                <img src="{{ site.baseurl }}/assets/img/services/cart2.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="portfolio-intro">
                                    <div class="action-btn">
                                        <a href="#"> <i class="fa fa-plus"></i> </a>
                                    </div>
                                </div>

                            </div>
                            <!-- thumb -->

                        </div>
                        <!-- /.portfolio-wrapper -->
                    </div>
                    <!-- /.portfolio-item -->

                    <!-- Serviço -->
                    <div class="portfolio-item">

                        <div class="portfolio-wrapper">
                            <div class="thumb">
                                <div class="bg-overlay"></div>

                                <div class="portfolio-slider">
                                    <ul class="slides">
                                        <li>
                                            <a href="{{ site.baseurl }}/assets/img/services/cart3-1.png" title="">
                                                <img src="{{ site.baseurl }}/assets/img/services/cart3.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="portfolio-intro">
                                    <div class="action-btn">
                                        <a href="#"> <i class="fa fa-plus"></i> </a>
                                    </div>
                                </div>

                            </div>
                            <!-- thumb -->

                        </div>
                        <!-- /.portfolio-wrapper -->
                    </div>
                    <!-- /.portfolio-item -->

                    <!-- Serviço -->
                    <div class="portfolio-item">

                        <div class="portfolio-wrapper">
                            <div class="thumb">
                                <div class="bg-overlay"></div>

                                <div class="portfolio-slider">
                                    <ul class="slides">
                                        <li>
                                            <a href="{{ site.baseurl }}/assets/img/services/cart4-1.png" title="">
                                                <img src="{{ site.baseurl }}/assets/img/services/cart4.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="portfolio-intro">
                                    <div class="action-btn">
                                        <a href="#"> <i class="fa fa-plus"></i> </a>
                                    </div>
                                </div>

                            </div>
                            <!-- thumb -->

                        </div>
                        <!-- /.portfolio-wrapper -->
                    </div>
                    <!-- /.portfolio-item -->
                    <!-- Serviço -->
                    <div class="portfolio-item">

                        <div class="portfolio-wrapper">
                            <div class="thumb">
                                <div class="bg-overlay"></div>

                                <div class="portfolio-slider">
                                    <ul class="slides">
                                        <li>
                                            <a href="{{ site.baseurl }}/assets/img/services/cart5-1.png" title="">
                                                <img src="{{ site.baseurl }}/assets/img/services/cart5.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="portfolio-intro">
                                    <div class="action-btn">
                                        <a href="#"> <i class="fa fa-plus"></i> </a>
                                    </div>
                                </div>

                            </div>
                            <!-- thumb -->

                        </div>
                        <!-- /.portfolio-wrapper -->
                    </div>
                    <!-- /.portfolio-item -->

                    <!-- Serviço -->
                    <div class="portfolio-item">

                        <div class="portfolio-wrapper">
                            <div class="thumb">
                                <div class="bg-overlay"></div>

                                <div class="portfolio-slider">
                                    <ul class="slides">
                                        <li>
                                            <a href="{{ site.baseurl }}/assets/img/services/cart6-1.png" title="">
                                                <img src="{{ site.baseurl }}/assets/img/services/cart6.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="portfolio-intro">
                                    <div class="action-btn">
                                        <a href="#"> <i class="fa fa-plus"></i> </a>
                                    </div>
                                </div>

                            </div>
                            <!-- thumb -->

                        </div>
                        <!-- /.portfolio-wrapper -->
                    </div>
                    <!-- /.portfolio-item -->

                </div>
                <!-- /.portfolio -->

            </div>
            <!-- portfolio-container -->
        </div>
    </section>
