---
layout: default
---
<!-- blog section start -->
<section class="blog-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
              <div class="posts-content single-post">

                <article class="post-wrapper">

                  <header class="entry-header-wrapper clearfix">

                    
                    <div class="entry-header">
                      <h2 class="entry-title">{{ page.title }}</h2>

                      <div class="entry-meta">
                          <ul class="list-inline">
                              <li>{% include post-heading.html post=page post_page=true %}
                              </li>
                          </ul>
                      </div><!-- .entry-meta -->
                    </div>

                  </header><!-- /.entry-header-wrapper -->

                  <div class="thumb-wrapper">
                    <img class="img-responsive" src="{{ page.featured_image }}" alt="{{ page.title }}">
                  </div><!-- .post-thumb -->


                  <div class="entry-content">
                    {{ content }}
                  </div><!-- .entry-content -->


                  <footer class="entry-footer">
                    <!-- <div class="post-tags">
                      <span class="tags-links">
                        <i class="fa fa-tags"></i><a href="#">Technology,</a> <a href="#" rel="tag">material design</a>
                      </span>
                    </div> .post-tags -->

                    <ul class="list-inline right share-post">
                        {% assign share_url = page.url | absolute_url | cgi_escape %}
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}"><i class="fa fa-facebook"></i> <span>Compartilhar</span></a>
                        </li>
                        <li><a href="https://twitter.com/intent/tweet?url={{ share_url }}&amp;text=I'm%20going%20to%20this%20event!""><i class="fa fa-twitter"></i> <span>Tweet</span></a>
                        </li>
                    </ul>
                  </footer>

                </article><!-- /.post-wrapper -->

                <nav class="single-post-navigation" role="navigation">
                  <div class="row">
                    <!-- Previous Post -->
                    <div class="col-xs-6">
                      <div class="previous-post-link">
                        <a class="waves-effect waves-light" href="{{ page.previous.url }}"><i class="fa fa-long-arrow-left"></i>Anterior</a>
                      </div>
                    </div>

                    <!-- Next Post -->
                    <div class="col-xs-6">
                      <div class="next-post-link">
                        <a class="waves-effect waves-light" href="{{ page.next.url }}">Próxima<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div> <!-- .row -->
                </nav>

                <div class="comments-wrapper">
                    {% if site.disqus_shortname and page.comments %}
                      <div id="disqus_thread"></div>
                      <script>
                        var disqus_shortname = '{{ site.disqus_shortname }}';
                        var disqus_config = function () {
                          this.page.url = "{{ page.url | prepend: site.url }}";
                          this.page.identifier = "{{ page.id }}";
                        };
                        (function() {  // DON'T EDIT BELOW THIS LINE
                          var d = document, s = d.createElement('script');
                          s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                          s.setAttribute('data-timestamp', +new Date());
                          (d.head || d.body).appendChild(s);
                        })();
                      </script>
                      <noscript>Por favor, habilite o Javascript <a href="https://disqus.com/?ref_noscript" rel="nofollow">.</a></noscript>
                    {% endif %}
                </div><!-- /.comments-wrapper -->

              </div><!-- /.posts-content -->
            </div><!-- /.col-md-8 -->

            {% include sidebar.html %}            

          </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- blog section end -->